language: perl

perl:
 - "5.10"
 - "5.12"
 - "5.14"
 - "5.16"
 - "5.18"

install:
 - dzil authordeps --missing | cpanm --notest
 - dzil listdeps --missing | cpanm --notest

script:
 - dzil test

notifications:
  recipient:
   - alessandro@ghedini.me
  email:
    on_success: change
    on_failure: always
